/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Reset links to remove underline */
a {
  text-decoration: none;
}

/* Remove list styling */
ul,
ol {
  list-style: none;
}

/* Remove default table spacing */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body::before {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

body {
  background-color: #3D3D3D;
  position: relative;
  font-weight: 600;
  font-family: "Playfair Display", serif;
}

body::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/img/hogwarts-bg.png");
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.04;
  z-index: -1;
}

.hog_main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title_main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  font-size: 400%;
}

.hog_header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hog_header_img {
  width: 8rem;
  position: fixed;
  top: 14px;
  left: 42px;
  height: auto;
  max-width: 100vw;
}

.hog__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.hog__item {
  margin-right: 20px;
}

.hog__link {
  font-weight: 400;
  color: #FFFFFF;
  font-size: 1rem;
  text-decoration: none;
  transition: 0.5s;
}

.hog__link:hover {
  font-size: 1.1rem;
}

.hog_app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.hog_app_bg {
  width: 100%;
  height: auto;
  max-width: 145vh;
  z-index: -1;
}

.avatar-title {
  position: absolute;
  color: #FFFFFF;
  z-index: 2000;
  font-size: 3rem;
  top: -365px;
  left: 806px;
}

.avatar-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
}

.avatar {
  position: absolute;
  top: -174px;
  left: 800px;
}

.avatar img {
  width: 20rem;
}

.avatar-items {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
}

.avatar__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 4rem;
  flex-direction: column;
  position: absolute;
  left: 1200px;
}

.avatar__list-item {
  cursor: pointer;
}

.active {
  cursor: auto;
  position: absolute;
  top: 95px;
  left: -338px;
}

.active img {
  width: 12rem !important;
}

.avatar__list-item img {
  width: 10rem;
}