/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Reset links to remove underline */
a {
  text-decoration: none;
}

/* Remove list styling */
ul,
ol {
  list-style: none;
}

/* Remove default table spacing */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body::before {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

body {
  background-color: #3D3D3D;
  position: relative;
}

body::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/img/hogwarts-bg.png");
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}

.hog_main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title_main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  font-family: "Playfair Display", serif;
  font-size: 400%;
  font-weight: 600;
}