@import "../colors.scss";

//Avatar Start
.avatar-title {
    position: absolute;
    color: map-get($colors, text-w);
    z-index: 2000;
    font-size: 3rem;
    top: -365px;
    left: 806px;
}
.avatar-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
}
.avatar {
    position: absolute;
    top: -174px;
    left: 800px;
}
.avatar img {
    width: 20rem;
}
.avatar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
}
.avatar__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 4rem;
    flex-direction: column;
    position: absolute;
    left: 1200px;
}
.avatar__list-item {
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}
.active {
    cursor: auto;
    position: absolute;
    top: 95px;
    left: -338px;
}
.active img {
    width: 12rem !important;
}
.avatar__list-item img {
    width: 10rem;
}
/* Add a class to the active hair list item to highlight it */
.avatar__list-item.active {
    opacity: 1;
}
//Avatar End

.avatar__list-item {
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}

/* Add a class to the active hair list item to highlight it */
.avatar__list-item.active {
    opacity: 1;
}
